.footer-logo {
    padding-top: 5rem; 
    padding-bottom: 5rem; 
    background-color: $primary-color; 
}

.Site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
  
.Site-content {
    flex: 1;
}

// Contact
.contact:link, .contact:visited, .contact:hover, .contact:active {
    text-decoration: none;
    color: $primary-color;
}

.author-logo {
    width: 30px; 
    height: auto; 
}