html {
    height: 100%;
    font-size: 10px; 
    font-family: $base-font-family;
}

body {
//    font-size: 10px; 
    height: 100%;
    width: 100%;
}

section{
    min-height: 100vh;
    overflow-y: hidden;
}

.container-lg{
    max-width: 1400px;
}

#map {
    height: 85vh; 
}

.col-md-12.logo {
    padding: 25px;
    //border-bottom: 6px solid $primary-color; 
    //border-top: 6px solid $primary-color; 
    width: 96%;
}

.col-md-12.logo img {
    width: 80%; 
    max-width: 800px;
    min-width: 100px;
    padding-top: 30px; 
}

.logo{
    width: 60%;
    max-width: 1100px;
    margin-top: 100px;
}

.logo-space {
    padding-top: 30px; 
}

.logo-space-title{
    font-size: 2.8rem;
}

.contact-center-left {
    margin-left: 20px;
}

.btn-group {
    top: 2%;
    right: 2%;
}

.bg-color {
    background-color: $secondary-color;
}

.uber-uns-color {
    background-color: $primary-color;
}

.kaufen {
    margin: auto; 
    text-align: center; 
}

.kaufen a {
    margin-right: 0px; 
}
.kaufen a.btn {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    // font-size: 16px;
    font-size: 1.6rem;
    background: transparent;
    width: 85%;
    height: 40px;
    padding: 5px 0 0px 0;
    border: solid $body-bg 1px;
    text-decoration: none;
    color: $body-bg;
}

.kaufen a.btn:hover {
    color: $primary-color;
    background-color: $body-bg;
}

.btn-fotos {
    p {
        color: $body-bg;
    }
}

.btn-fotos a.btn {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    font-family: Arial;
    color: #000;
    font-size: 1.6rem;
    // font-size: 16px;
    background: transparent;
    width: 50%;
    height: 50px;
    padding: 10px 0 0px 0;
    border: solid $body-bg 1px;
    text-decoration: none;
    
    &:hover {
        background-color: $body-bg;

        p{
            color: $primary-color;
        }
    }
}

a {
  text-decoration: none;
  outline: none !important;
  &:hover {
    text-decoration: none;
    outline: none !important;
  }
  &:focus {
    text-decoration: none;
    outline: none !important;
  }
  &:active {
    text-decoration: none;
    outline: none !important;
  }
}


// Uber Uns border effect 

.inner {
    border-bottom: 1px solid $body-bg; 
    border-top: 1px solid $body-bg;
	width: 150px;
	height: auto;
	-webkit-transform: skew(63deg);
	   -moz-transform: skew(63deg);
	     -o-transform: skew(63deg);
}

.content {
    -webkit-transform: skew(-63deg);
	   -moz-transform: skew(-63deg);
         -o-transform: skew(-63deg);
    h3 {
        color: $body-bg; 
    }
}