/*
.masthead {
    min-width: 30rem;
    position: relative;
    display: table; 
    width: 100%;
    height: auto; 
    padding-top: 1rem;
    padding-bottom: 16rem; 
  
    h1 {
        font-size: 2.2rem;
        margin: 0; 
        padding: 0; 
    }
    @media (min-width: 992px) {
        height: 100vh;
        h1 {
            font-size: 4.0rem; 
        }
    }
}

#logo {
    width: 100%; 
    height: auto; 
}

#line1 {
    padding-top: 2rem;
    padding-bottom: 2rem; 
}
*/


