// Hamburger orange Menu

$button-height: 22px;
$button-width: 30px;

.button_container {
  position: absolute;
  top: 14%;
  left: 6%;
  height: $button-height;
  width: $button-width;
  cursor: pointer;
  z-index: 100;
  transition: opacity .25s ease;
  
  &:hover {
    opacity: .7;
  }
  
  &.active {
    .top {
      transform: translateY(11px) translateX(0) rotate(45deg);
      background: $body-bg;
    }
    .middle {
      opacity: 0;
      background: $body-bg;
    }
    
    .bottom {
      transform: translateY(-11px) translateX(0) rotate(-45deg);
      background: $body-bg;
    }
  }
  
  span {
  background: $secondary-color;
  border: none;
  height: 4px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition:  all .35s ease;
  cursor: pointer;
    
    &:nth-of-type(2) {
      top: 11px;
    }
    
    &:nth-of-type(3) {
      top: 22px;
    }
  }
}

.overlay {
  position: fixed;
  background-color: rgba(0,0,0,0.9);
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
  
  &.open {
    opacity: .9;
    visibility: visible;
    height: 100%;
    
    li {
      animation: fadeInRight .5s ease forwards;
      animation-delay: .35s;
      
      &:nth-of-type(2) {
        animation-delay: .4s;
      }
      &:nth-of-type(3) {
        animation-delay: .45s;
      }
      &:nth-of-type(4) {
        animation-delay: .50s;
      }
    }
  }
  nav {
    position: relative;
    height: 70%;
    top: 60%;
    transform: translateY(-50%);
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-style: normal; 
    font-size: 64px; 
    line-height: 77px;
    text-align: center;
    text-transform: uppercase; 
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%; 
    
    li {
      display: block;
      height: 18%;
      min-height: 50px;
      position: relative;
      opacity: 0;
      
      a {
        display: block;
        position: relative;
        color: $body-bg;
        text-decoration: none;
        overflow: hidden;
        
        &:hover:after,
         &:focus:after,
         &:active:after {
           width: 100%;
         }
        
        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 0%;
          transform: translateX(-50%);
          height: 3px;
          background: $secondary-color;
          transition: .35s;
        }
      }
    }
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

// Language btn-group

#language.btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #000;
  font-size: 16px;
  background: #fff;
  padding: 10px 70px 0px 70px;
  border: solid #000 1px;
  text-decoration: none;
  outline: 0; 
}

.btn-language {
    border: 1px solid $primary-color;
    border-radius: 0;
    color: $primary-color;
    background-color: $body-bg;
    margin: 1px;
}

.btn-language:hover, .btn-language:focus, .btn-language:active, .btn.active, .open > .dropdown-toggle.btn-language{
    color: $primary-color;
    border: 1px solid $primary-color;
    background-color: $body-bg;
    box-shadow: none;
}

.btn-language:active, .btn-language.active {
	color: $primary-color !important;
    border: 0px;
    background-color: $body-bg !important;
}

// bouncing car (header) 

.arrow {
  text-align: center;
  margin: 8% 0;
  width: auto; 
  height: 70px; 
  margin-top: 0px;
  padding: 7px 16px;
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

