/* MEDIA QUERIES
/* --------------------------------------- */

// // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) { 
// }
// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) {
//     html { 
//         font-size: 7px;
//     }
// }
// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) { 
// }
// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { 
//    html { 
//         font-size: 8px;
//     }
// }
@media all and (max-width: 1200px) {
    html {
        font-size: 8px !important;
    }
    .logo {
        width: 85%;
    }
    .small-car-icons {
        text-align: center !important;
    }
     #auto-kaufen {
        padding-top: 10rem !important;
    }
}

@media all and (max-width: 767px) {
    html {
        font-size: 6px !important;
    }

    .logo {
        width: 95%;
    }
    .col-md-12.logo img {
        width: 95%;
    }

    .mobile-center {
        text-align: center;
        margin: 0px;
    }
    h1,p {
        text-align: center;
        margin: 0px; 
    }
    .mobile-pull {
       padding-left: 50px; 
    }

    .inner {
        border-bottom: 1px solid $body-bg; 
        border-top: 1px solid $body-bg;
        width: 80px;
        height: auto;
        -webkit-transform: skew(57deg);
           -moz-transform: skew(63deg);
             -o-transform: skew(63deg);
    }
    
    .content {
        -webkit-transform: skew(-57deg);
           -moz-transform: skew(-63deg);
             -o-transform: skew(-63deg);
    }
    .kaufen {
        a.btn {
            width: 40%;
            height: 28px;
            margin: auto;
            padding: 5px 0 0 0;
        }
    }

    .btn-fotos {
            a.btn {
                width: 50%;
                height: 28px;
                padding: 5px 0 0 0;
            }
        }
    }

    .container-lg{
        padding: 40px; 
    }

    .mobile-line {
        border-top: 2px solid $body-bg; 
        width: 90px;
    }

    // Language btn-group
.mobile-only {
    .btn-group div a {
    font-family: $base-font-family; 
    font-weight: normal;
    font-size: 1.3rem;
    color: $body-bg;
    }
        .btn-group{
            padding: .8rem 1.2rem;
            padding-top: 30px; 
            
            .btn{
                padding: .8rem 1.2rem;
                font-size: 3.6rem;
                color: $body-bg;
                font-family: 'Lato', sans-serif;
                font-weight: normal;
                font-style: normal; 
            }
            .btn.focus, .btn:focus{
                box-shadow: none;
            }
            .btn.active {
                border: 1px solid $body-bg;
                border-radius: 0;
                color: $body-bg; 
                background-color: rgba(0,0,0,1);
                margin: 1px;
                text-decoration: none;
                pointer-events: none;
        }
    }
}


@media all and (max-width: 367px) {
    .kaufen {
        a.btn {
            width: 95%;
            margin: auto;
            padding: 6px 10% 0px 10%;
        }
    }
    
    .mobile-center {
        text-align: center;
        margin: 0px;
    }

    h1,p {
        text-align: center; 
        margin: 0px; 
    }
    
    .mobile-pull {
    padding-left: 50px; 
    }

    .inner {
        border-bottom: 1px solid $body-bg; 
        border-top: 1px solid $body-bg;
        width: 80px;
        height: auto;
        -webkit-transform: skew(57deg);
        -moz-transform: skew(63deg);
            -o-transform: skew(63deg);
    }

    .content {
        -webkit-transform: skew(-57deg);
        -moz-transform: skew(-63deg);
            -o-transform: skew(-63deg);
    }
}