/* MEDIA QUERIES
/* --------------------------------------- */

@media all and (max-width: 1200px) {
    html {
        font-size: 8px !important;
    }
    .logo {
        width: 85%;
    }
    .small-car-icons {
        text-align: center !important;
    }
     #auto-kaufen {
        padding-top: 10rem !important;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) { 

    .btn-fotos {
        a.btn {
            width: 50%;
            height: 28px;
            padding: 5px 0 0 0;
        }
    }
 }

 .mobile-pull {
    padding-left: 50px; 
 }

 .uber-uns-border-effect {
    width: 140px;
    text-align: center;
    margin: auto;
    margin-top: 200px;
    &::after{
      content: "";
      height: 1px;
      background: $body-bg;
      display: block;
      margin-right: -52%;
      margin-left: 52%;
      margin-top: 20px;
      margin-bottom: -20px;
    }
    &::before{
      content: "";
      height: 1px;
      background: $body-bg;
      display: block;
      margin-right: 35%;
      margin-left: -35%;
      margin-top: -20px;
      margin-bottom: 20px;
    }
  }

@media (min-width: 768px) and (max-width: 991.98px) {
    html {
        font-size: 6px !important;
    }

    .logo {
        width: 95%;
    }
    .col-md-12.logo img {
        width: 95%;
    }

    .mobile-center {
        padding: 0 4% 0 4%; 
        text-align: center;
        margin: 0px; 
    }

    h1,p {
        text-align: center;
        margin: 0px; 
    }
    .mobile-pull {
       padding-left: 50px; 
    }

    .uber-uns-border-effect {
        width: 120px;
        text-align: center;
        margin: auto;
        margin-top: 200px;
        &::after{
          content: "";
          height: 1px;
          background: $body-bg;
          display: block;
          margin-right: -52%;
          margin-left: 52%;
          margin-top: 20px;
          margin-bottom: -20px;
        }
        &::before{
          content: "";
          height: 1px;
          background: $body-bg;
          display: block;
          margin-right: 35%;
          margin-left: -35%;
          margin-top: -20px;
          margin-bottom: 20px;
        }
      }

    .kaufen {
        a.btn {
            width: 75%;
            height: 25px;
            margin: auto;
             padding: 0 0 3px 0;
        }
    }

    .btn-fotos {
            a.btn {
                width: 45%;
                height: 28px;
                padding: 5px 0 0 0;
            }
        }
    }

    .text-just-mobile {
        text-align: justify;
    }

    .container-lg{
        padding: 40px; 
    }

    .mobile-line {
        border-top: 2px solid $body-bg; 
        width: 100%;
        padding-top: 30px;
    }

    // Language btn-group
.mobile-only {
    .btn-group div a {
    font-family: $base-font-family; 
    font-weight: normal;
    font-size: 1.3rem;
    color: $body-bg;
    }
        .btn-group{
            padding: .8rem 1.2rem;
            padding-top: 30px; 
            
            .btn{
                padding: .8rem 1.2rem;
                font-size: 3.6rem;
                color: $body-bg;
                font-family: 'Lato', sans-serif;
                font-weight: normal;
                font-style: normal; 
            }
            .btn.focus, .btn:focus{
                box-shadow: none;
            }
            .btn.active {
                border: 1px solid $body-bg;
                border-radius: 0;
                color: $body-bg; 
                background-color: rgba(0,0,0,1);
                margin: 1px;
                text-decoration: none;
                pointer-events: none;
        }
    }
}
@media (min-width: 576px) and (max-width: 767.98px) {  

    .kaufen {
        a.btn {
            width: 65%;
            height: 25px;
            margin: auto;
            padding: 0 0 3px 0;
        }
    }

    
    .btn-fotos {
        a.btn {
            width: 38%;
            height: 28px;
            padding: 5px 0 0 0;
        }
    }

    .text-just-mobile {
        text-align: justify;
    }

    .mobile-line {
        border-top: 2px solid $body-bg; 
        width: 100%;
        padding-top: 30px;
    }

    .uber-uns-border-effect {
        width: 110px;
        text-align: center;
        margin: auto;
        margin-top: 200px;
        &::after{
          content: "";
          height: 1px;
          background: $body-bg;
          display: block;
          margin-right: -52%;
          margin-left: 52%;
          margin-top: 20px;
          margin-bottom: -20px;
        }
        &::before{
          content: "";
          height: 1px;
          background: $body-bg;
          display: block;
          margin-right: 35%;
          margin-left: -35%;
          margin-top: -20px;
          margin-bottom: 20px;
        }
      }

    .mobile-pull {
        padding-left: 50px; 
    }
    
    .mobile-center {
        padding: 0 4% 0 4%; 
        text-align: center;
        margin: 0px; 
    }

    .just-mobile {
        display: -webkit-flex; /* Safari */
        -webkit-justify-content: start; /* Safari 6.1+ */
        display: flex;
        justify-content: start;
    }
}

@media (max-width: 575.98px) {
   
    .kaufen {
        a.btn {
            width: 60%;
            height: 25px;
            margin: auto;
            padding: 0 0 3px 0;
        }
    }

    .btn-fotos {
        a.btn {
            width: 55%;
            height: 35px;
            padding: 5px 0 0 0;
        }
    }

    .text-just-mobile {
        text-align: justify;
    }

    h1,p {
        text-align: center; 
        margin: 0px; 
    }
    
    .mobile-pull {
    padding-left: 80px;
    }

    .mobile-center {
        padding: 0 4% 0 4%; 
        text-align: center;
        margin: 0px; 
    }

    .mobile-line {
        border-top: 2px solid $body-bg; 
        width: 100%;
        padding-top: 30px;
    }

    .just-mobile {
        display: -webkit-flex; /* Safari */
        -webkit-justify-content: start; /* Safari 6.1+ */
        display: flex;
        justify-content: start;
    }

    .uber-uns-border-effect {
        width: 108px;
        text-align: start;
        margin: auto;
        margin-top: 200px;
        &::after{
          content: "";
          height: 1px;
          background: $body-bg;
          display: block;
          margin-right: -52%;
          margin-left: 52%;
          margin-top: 20px;
          margin-bottom: -20px;
        }
        &::before{
          content: "";
          height: 1px;
          background: $body-bg;
          display: block;
          margin-right: 35%;
          margin-left: -35%;
          margin-top: -20px;
          margin-bottom: 20px;
        }
      }
    }