/* MEDIA QUERIES
/* --------------------------------------- */

// // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) { 
// }
// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) {
//     html { 
//         font-size: 7px;
//     }
// }
// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) { 
// }
// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { 
//    html { 
//         font-size: 8px;
//     }
// }
@media all and (max-width: 1200px) {
    html {
        font-size: 8px !important;
    }
    .logo {
        width: 85%;
    }
    .small-car-icons {
        text-align: center !important;
    }
    #auto-kaufen {
        padding-top: 10rem !important;
    }
}

@media all and (max-width: 767px) {
    html {
        font-size: 6px !important;
    }
    .cars-wrapper{
        margin-top: 0px;
        width: 60%;
    }
    .logo {
        width: 95%;
    }
    .col-md-12.logo img {
        width: 95%;
    }
}

@media all and (max-width: 367px) {
    .kaufen {
        a.btn {
            width: 95%;
            margin: auto;
            padding: 6px 10% 0px 10%;
        }
    }
}